<div class="page-subheader">
    <h1>The Tech Blog</h1>
</div>

<ul id="bloglist">
    {{#each allBlogs}}
        <li class="blogpost" data-id={{this.id}}>
            <div class="blogheader">
                <h2>{{this.title}}</h2>
                <div>Posted by {{this.User.username}} on {{this.formattedDate}}</div>
            </div>
            <div class="blogcontent">
            {{this.content}}
            </div>
            
                <div class="comment-container hide">
                    {{#if this.comments}}
                        {{#each this.comments}}
                            <div class="comment">
                                <div class="comment-header">
                                    <h2>{{this.title}}</h2>
                                    <div>Posted by {{this.author}} on {{this.formattedDate}} at {{this.formattedTime}}</div>
                                </div>
                                <div class="comment-body">
                                    <p>{{this.content}}</p>
                                </div>
                            </div>                        
                        {{/each}}
                    {{/if}}
                    {{#unless this.comments}}
                        <div>No comments have been added!</div>
                    {{/unless}}
                    <button id="add-comment-button">Comment</button>
                    <div class="new-form">
                        <form id="new-blog-form">
                            <div>
                                <label for="blog-title">Title: </label><br />
                                <input type="text" name="blog-title" id="blog-title" />
                            </div>
                            <div>
                                <label for="blog-content">Body:</label><br />
                                <textarea type="text" name="blog-content" id="blog-content"></textarea>
                            </div>
                            <button type="submit" id="submit-comment-button" class="button">Submit</button>
                        </form>
                    </div>
                </div>
        </li>
    {{/each}}
</ul>

<script src="/js/home.js"></script>