<div class="page-subheader">
    <h1>The Tech Blog</h1>
</div>

<ul id="bloglist">
    {{#each allBlogs}}
        <li class="blogpost">
            <div class="blogheader">
                <h2>{{this.title}}</h2>
                <div>Posted by {{this.User.username}} on {{this.formattedDate}}</div>
            </div>
            <div class="blogcontent">
            {{this.content}}
            </div>
            
                <div class="comment-container hide">
                    {{#if this.comments}}
                    {{#each this.comments}}
                        <div class="comment">
                            <div class="comment-header">
                                <h2>{{this.title}}</h2>
                                <div>Posted by {{this.author}} on {{this.formattedDate}} at {{this.formattedTime}}</div>
                            </div>
                            <div class="comment-body">
                                <p>{{this.content}}</p>
                            </div>
                        </div>                        
                    {{/each}}
                <button id="add-comment-button">Comment</button>
                {{/if}}
                {{#unless this.comments}}
                No comments have been added!
                {{/unless}}
                </div>
        </li>
    {{/each}}
</ul>

<script src="/js/home.js"></script>