<div class="page-subheader">
    <h1>The Tech Blog</h1>
</div>

<ul id="bloglist">
    {{#each allBlogs}}
        <li class="blogpost" data-id={{this.id}}>
            <div class="blogheader">
                <h2 class="blogheader-title">{{this.title}}</h2>
                <div class="blog-menu">
                    <div class="blogheader-date">{{this.User.username}} posted on {{this.formattedDate}}</div>
                    <div href="" class="edit-blog-button">✏️</div>
                    <div class="delete-blog-button">❌</div>
                </div>
            </div>
            <div class="blogcontent">
            {{this.content}}
            </div>
            
                <div class="comment-container hide">
                    <div id="comment-banner">Comments</div>
                    {{#if this.comments}}
                        {{#each this.comments}}
                            <div class="comment" data-id={{this.id}}>
                                <div class="comment-header" data-author={{this.author}}>
                                    <h2>{{this.title}}</h2>
                                    <div class="comment-menu">
                                        <div class="commentheader-date">Posted by {{this.author}} on {{this.formattedDate}} at {{this.formattedTime}}</div>
                                        <div href="" class="edit-comment-button">✏️</div>
                                        <div class="delete-comment-button">❌</div>
                                    </div>
                                </div>
                                <div class="comment-body">
                                    <p>{{this.content}}</p>
                                </div>
                            </div>                                 
                        {{/each}}
                    {{/if}}
                    {{#unless this.comments}}
                        <div class="nocomment">Be the first to comment!</div>
                    {{/unless}}
                    <button type="submit" class="button edit hide" id="send-it">Update</button>
                    <button class="add-comment-button" id="add-comment-button">Comment</button>
                    <div class="new-form">
                        <form id="new-comment-form">
                            <div>
                                <label for="comment-title">Title: </label><br />
                                <input type="text" name="comment-title" id="comment-title" />
                            </div>
                            <div>
                                <label for="comment-content">Body:</label><br />
                                <textarea type="text" name="comment-content" id="comment-content"></textarea>
                            </div>
                            <button type="submit" class="submit-comment-button button">Submit</button>
                        </form>
                    </div>
                </div>
        </li>
    {{/each}}
</ul>

<script src="/js/home.js"></script>